* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  text-align: center;
}
body {
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
}
ul {
  padding-inline-start: 0;
}
li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 8px;
  margin: 5px 0;
  background-color: white;
}
 h2 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 2em;
}
h3 {
  font-weight: normal;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
p{
 font-weight: lighter;
 font-size: .92em;
 margin-top: 1em;
 margin-bottom: 2em;
 padding: .5em;
}
span {
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 1em;
  background-color: #fafafa;
  color: grey;
}
span {
  padding-left: 2.5%;
}
hr {
  width: 90%;
  opacity: 30%;
  margin-block-start: 0;
  margin-block-end:0;
}
h4 {
  color: #4a4a4a;
}
.contact {
  background-color: #fafafa;
  color: grey;
  padding: 1em 1em 3em;
}
.intro {
  color: grey;
}
.fullheader {
  background-color: #fafafa;
  padding: 1em;
}
.profile-photo{
  max-width: 80%;
  padding-top: 1em;
}
.container {
  text-align: center;
  padding: 1em;
}
.name {
  font-size: 1.5em;
  color: #4a4a4a;
}
.c-title {
  text-transform: uppercase;
  font-size: .92em;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}
.top {
  margin-top: 2.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #4a4a4a;
}
.contact-info {
  margin-block-start: 0;
  margin-block-end: 0;
}
.line {
  background-color: #fafafa;
}
#contact {
  margin-bottom: 0;
}
.footer-nav {
  display: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 768px) {
  ul  {
    display: flex;
    margin: auto;
    width: 19em;
  }
  .main-nav li {
    margin:5px 10px;
    background-color: inherit;
  }
  h1{
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .contact-info {
    font-size: 1.2em;
    padding-bottom: 1em;
  }
  .profile-photo {
    float: right;
    padding-right: 10px;
    padding-top: 30px;
  }
  .main-header {
    height: 18em;
  }
  .fullheader {
    padding: 0;
  }
  .main-nav {
    padding-top: 2em;
  }
  .name{
    padding-bottom: .8em;
  }
  .intro {
    max-width: 59%;
    text-align: left;
    font-size: 1.2em;
  }
  .profile-photo {
    max-width: 40%;
  }
  .left-col {
    float: left;
    max-width: 50%;
    padding: 5px 5px;
  }
  .mid-col {
    float: right;
    max-width: 50%;
    padding: 5px 5px;
  }
  .description {
    margin-top: .5em;
    padding: .5em 1.5em;
  }
  #right-col {
    float: left;
    max-width: 50%;
    padding: 5px 5px;
  }
  .right-col {
    float: right;
    max-width: 50%;
    padding: 5px 5px;
  }
  .contact {
    padding: 2em 6em;
    margin: auto;
  }
  .main-footer {
    position: inherit;
  }
  .c-title {
    padding-bottom: 3em;
  }
  .top {
    display: none;
  }
  .footer-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding-top: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 15em;
  }
  .footer-nav li {
    background-color: inherit;
    font-size: .8em;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  ul{
    margin: 0 3em;
  }
  .main-header {
    height: 20em;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }
  .name {
    padding: 0 2em;
  }
  .intro {
    padding: 0 1.5em;
  }
  .profile-photo {
    padding: 0 2em 0 0;
    margin-left: 3em;
  }
  .mid-col {
    float: none;
    max-width: 33%;
    margin: auto;
  }
  #right-col,
  .right-col {
    float: right;
    max-width: 33%;
    margin-top: -394px;
  }
  .left-col {
    max-width: 33%;
  }
}
